<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Pr0Notify.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Pr0Notify.Properties.Settings>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="RefreshRate_MenuItemIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RefreshRate" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="autoRefresh" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cookie" serializeAs="String">
                <value />
            </setting>
            <setting name="last_sync_id" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="messageBoxNotification" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bloonTippNotification" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="externIcon_width" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="externIcon_height" serializeAs="String">
                <value>40</value>
            </setting>
        </Pr0Notify.Properties.Settings>
    </userSettings>
</configuration>